
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.post {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: #F7F8FA;
  border: 1px solid #E3E4E6;
}

.posts {
  padding: 1% 1% 1% 1%;

}

.post > div {
  padding: 5%;
}

.post img {
  width: 20%;
  border-radius: 100%;
  margin: 5%;
}

.type {
  border-collapse: collapse;
  background-color: #5E3DFF;
  border-radius: 10%;
  place-self: start;
  margin: 5% 0 0 0;
  color: white;
  font-weight: 900;
  text-transform: capitalize;
  font-size: 0.7rem;
}

.textData {
  place-self: start;
  margin: 5% 0 0 0;
  font-size: 1rem;
}