
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.post {
  display: flex;
  flex-direction: row;
  padding: 2% 2% 2% 2%;
  background-color: #F7F8FA;
  border: 1px solid #E3E4E6;
}

.posts {
  margin: 2% 2% 2% 2%;
}

.type {
  display: block;
  background-color: #5E3DFF;
  border-radius: 10%;
  padding: 0.75%;
  color: white;
  margin: 1% 0% 0% 1%;
  font-weight: 900;
}

.iconURL {
  width: 2%;
  height: 2%;
  border-radius: 100%;
  margin: 1.30% 1% 0% 0%;
}

.localizableTitle {
  margin: 1% 0% 0% 5%;
}